@tailwind base;
@tailwind components;
@tailwind utilities;

/* customize your own CSS utility classes */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: .5rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #27272E; 
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3B3B46; 
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }
  .scrollbar::-webkit-scrollbar-track:hover, 
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
}

@layer components { 
  .blue-btn {
    @apply flex flex-row items-center bg-blue-500 rounded-2xl mx-4 py-1 font-bold px-4 text-white
           hover:bg-blue-400;
  }
  .sidebar-link {
    @apply shadow-sm px-6 py-2 border-b-1 border-gray-200;
  }
  .sidebar-header {
    @apply flex flex-row justify-between items-center h-14 w-full border-b-3 border-yellow-300;
  }
  .fade-screen {
    @apply absolute block w-full h-full bg-black;
  }
  .search-bar {
    @apply flex flex-row items-center p-2 rounded-full bg-white shadow-md;
  }
  .orange-btn {
    @apply h-12 w-full bg-orange-400 rounded-md text-sm font-medium
           hover:bg-white hover:border-2 hover:border-orange-400; 
  }
  .limit-btn {
    @apply h-12 w-full bg-gray-600 text-white rounded-md text-sm font-medium cursor-default;
  }
}